<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="style.css">

</head>
<body>

  <div id="header">
   <span>dMail</span>
   <span>Photo</span>
   <span><img src="https://i.imgur.com/F2vnikh.png" alt="tools" /></span>
   <span><img src="https://i.imgur.com/ckpo2Og.png" alt="notfcuntr" width="20" /></span>
   <span><img src="https://i.imgur.com/X3dFa8J.png" alt="proflPic"/></span>
  </div>

  <div id="main">
     <span id="d">d</span>
     <span><img src="https://i.imgur.com/a8aTpbn.png" alt="respetir" width="200" /></span>
     <span id="dle">dle</span>
  </div>
   <div id="src">
    <input type="text" />
    <span id="mic"><img src="https://i.imgur.com/hbmwCgI.png" alt="mic" width="18" /></span>
    <button id="btn1">Doogle Search</button>
    <button id="btn2">I'm Feeling Lucky</button>
  </div>
    <br />
    <br />

    <div id="updown">
      <!--<div> za prikaz skrollinga-->
      </div>


  <div id="footer">
   <div id="gumbi-spodaj-levo">
      <span>Advertising</span>
      <span>Bussines</span>
      <span>About</span>
   </div>

   <div id="gumbi-spodaj-desno">
     <span>Privacy</span>
     <span>Terms</span>
     <span>settings</span>
     <span>Use doogle.com</span>

   </div>
  </div>


</body>
</html>
